[Unit]
Description=MDT public key management service
After=network.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/mdt-keymaster --interface usb0 --interface usb1
Restart=on-failure
User=mendel
Group=mendel
WorkingDirectory=~

[Install]
WantedBy=multi-user.target
